@charset "utf-8";
/* CSS Document */





.press {
font-size:30px;
font-family: 'Raleway', sans-serif;
float:right;
}
.linespace {
line-height:30px;
}

.name {
font-size: 75px;
color:#b76e79;
font-family: 'Raleway', sans-serif;
text-align:center;
margin:0 auto;
padding-top:100px;
}
.drop {padding-top:200px;}


#header1 {
width:100%;
background-image:url(/marblebackground.jpg);
height:1000px;
margin-bottom:200px;
padding:0px;
}

#header img {
 width: 100%;}
#page1 {
margin-top:1px;
width:100%;
margin-bottom:40px;
height:1200px;
}
#page2 {
height:1200px;

}


#Page3 {
height:1200px;
padding-bottom:450px;
}
#Page5 {
height:1200px;
}
#Page4 {
height:1200px;
padding-bottom:250px;

} 

.container {
width:1200px;
margin:0 auto;
}






.box2 {
margin-top:0px;
padding-top:0px;
font-family: 'Raleway', sans-serif;
}


.bigstyle {
font-size:65px;
color:#FFF;
background-color:#000;
padding-left:200px;
padding-top:200px;
font-family: 'Raleway', sans-serif;
height:1000px;
padding-left:350px;
}




.info {
font-size:50px;
margin:30px;
font-weight:bold;
font-family: 'Raleway', sans-serif;
}
.box1{
margin-top:0px;
padding-top:0px;
font-size:30px;
font-family: 'Raleway', sans-serif;
}
.fullwidth {
width:100%;
margin:0px;
padding:0px;
}
.large {
font-size:36px;
}

 


.info {
font-size:35px;
margin:24px;
font-weight:bold;
font-family: 'Raleway', sans-serif;
}

.fullwidth {
width:100%;
margin:0px;
padding:0px;
}
.large {
font-size:25px;
}


